{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Join</h2>
            <ol>
                <li><a href="/">Home</a></li>
                <li>join</li>
            </ol>
        </div>

    </div>
</div>

<section class="inner-page">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="card col-sm-7">
                <div class="card-body" style="padding:40px;">
                    <div class="pt-4 pb-2" data-aos="fade-up">
                        <h5 class="card-title text-center pb-0 fs-4">회원가입</h5>
                        <p class="text-center" id="join-error">모든 항목을 입력해주세요.</p>
                    </div>
                    <p class="form-text" style="font-size:small;">* 아이디와 비밀번호는 5글자 이상으로 설정해 주세요</p>
                    <form action="" method="post" role="form" id="join_form" enctype="multipart/form-data" class="php-email-form">
                        <div class="mb-5">
                            <div class="form-group mb-3">
                                <label for="userid">아이디</label>
                                <div class="mt-2 row">
                                    <div class="col-10">
                                        <input type="text" class="form-control" name="userid" id="userid"
                                            placeholder="아이디를 입력해주세요">
                                    </div>
                                    <div class="col-2">
                                        <input type="button" id="btn_userid" class="btn btn-outline-warning" value="중복검사">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label for="password">비밀번호</label>
                                <div class="mt-2">
                                    <input type="password" class="form-control col-12" name="password" id="password"
                                        placeholder="비밀번호를 입력해주세요">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="re_password">비밀번호 확인</label>
                                <div class="mt-2">
                                    <input type="password" class="form-control" name="re_password" id="re_password"
                                        placeholder="비밀번호를 한번 더 입력해주세요">
                                </div>
                            </div>
                            <div style="text-align:center;" class="mt-5">
                                <input type="button" id="btn_join" class="btn btn-warning"
                                    style="color:white;width:150px;height:50px" value="가입하기">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Inner Page -->

{% endblock content %}
{% block script %}
<script src="{% static 'user/js/join.js' %}"></script>
{% endblock script %}