{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link href="{% static 'eatery/css/eatery_manage.css' %}" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
<div class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>메뉴</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>Eatery</li>
      </ol>
    </div>

  </div>
</div>
<section class="sample-page">
  <div class="container" data-aos="fade-up">
  <section id="recent-blog-posts" class="recent-blog-posts">
    <div class="container" data-aos="fade-up">
      {% if eatery %}
      <a href="{% url 'website:eatery_create' group_pk %}" class="btn btn-warning" style="float: right;">음식점 추가하기</a>
      {% endif %}
      <a href="{% url 'website:group_manage' %}" class="btn btn-outline-dark">돌아가기</a>
      <div class="section-header">
        <h2>Eatery</h2>
        <p>음식점들의 후기를 써보세요</p>
      </div>
      <div class="row">
      {% if eatery %}
      {% for i in eatery %}
      <div class="col-3">
        <div class="eatery-card">
          <div class="eatery-image-container">
            {% if i.image %}
            <img class="eatery-image" src='{% static "assets/img/food/korean.png" %}'>
            {% elif i.crawling_image %}
            <img class="eatery-image" src='{% static "assets/img/food/korean.png" %}'>
            {% else %}
            <img class="eatery-image" src="/static/{{i.eatery_type__image_url}}">
            {% endif %}
          </div>
          <p class="eatery-name">{{i.eatery_name}}</p>
          <div class="eatery-content">
            <button class="button"><i class="bi bi-shop"></i> 양식</button>
            <button class="button"><i class="bi bi-chat-dots"></i> 11</button>
          </div>
          <a type="button" class="eatery-btn" href="{% url "website:eatery_detail" i.id %}">구경하기</a>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="text-center gy-5 gx-lg-5 mt-5 form-control" style="padding:50px;">
        <p class="form-text" style="font-size:large">
          등록된 음식점이 없어요..
        </p>
        <p class="form-text">
          (등록된 음식점이 없는 테마는 음식점 고르기에서 제외됩니다)
        </p>
        <a href="{% url 'website:eatery_create' group_pk  %}" class="btn btn-warning btn-lg mt-3">등록하기</a>
      </div>
      {% endif %}
      </div>
    </div>
  </section><!-- End Recent Blog Posts Section -->
</div>
</section>
{% endblock content %}
