{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="breadcrumbs">
    <div class="container">
        
        <div class="d-flex justify-content-between align-items-center">
            <h2>테마 추가</h2>
            <ol>
                <li><a href="/">Home</a></li>
                <li>Add Group</li>
            </ol>
        </div>
        
    </div>
</div><!-- End Breadcrumbs -->

<section class="inner-page">
    <div class="container" data-aos="fade-up">
        <section id="contact" class="contact">
            <div class="container">
                <a href="{% url 'website:group_manage' %}" type="button" class="btn btn-outline-dark" style="">돌아가기</a>
                <div class="section-header">
                    <p id="create-error">사용자들이 알기 쉽게 테마를 소개해주세요.</p>
                </div>
            </div>
            
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-9">
                        <form method="post" role="form" id="group_form" enctype="multipart/form-data" class="php-email-form">
                            <div class="row" id="input">
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control" name="name" id="name" data-rule="minlen:1" placeholder="테마 이름을 작성해 주세요">
                                    <div id="name_error"></div>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control" name="location" id="location" data-rule="minlen:1" placeholder="식당들이 있는 주요지역을 작성해주세요">
                                    <div id="location_error"></div>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control" name="comment" id="comment" data-rule="minlen:1" placeholder="간단한 테마 소개를 작성해주세요">
                                    <div id="comment_error"></div>
                                </div>
                                <div class="form-group mt-3">
                                    <label class="form-label" for="open">테마 공유 여부 &nbsp;</label>
                                    <input type="checkbox" id="open" name="open" data-toggle="toggle" data-onstyle="warning" data-on="공유" data-off="비공유">
                                    <p class="mt-2"><small>* 테마를 공유하면 다른 사람들도 내 테마에 음식점을 추가 할 수 있어요! </small></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row gy-5 gx-lg-5 mt-3">
                    <div class="text-center mt-5"><button type="button" id="btn_submit" class="btn btn-warning btn-lg">다음 단계</button></div>
                </div>
            </div>
        </section><!-- End Contact Section -->
    </div>
</section><!-- End Inner Page -->
{% endblock content %}
{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock stylesheets %}
{% block script %}
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script src="{% static 'eatery/js/group_create.js' %}"></script>
{% endblock script %}
