{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'eatery/css/group_select.css' %}">
{% endblock stylesheets %}
<section class="sample-page">
    <div class="container" data-aos="fade-up">
        <section id="recent-blog-posts" class="recent-blog-posts">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2>Choice</h2>
                    <p>먼저 테마를 선택해 주세요!!</p>
                </div>
                <div class="row mt-5">
                    <div class="col-4">
                        <div class="group-card">
                            <div class="content custom-content">
                                <p class="group-title" style="color:#FF4F00;">직접 옵션 선택</p>
                                <div class="group-location">전 지역</div>
                                <div class="group-comment">
                                    등록된 모든 식당들 중에서 <br> 직접 옵션을 설정합니다.
                                </div>
                                <a type="button" class="pushable" href="{% url "website:group_all_select" %}">
                                    <span class="shadow"></span>
                                    <span class="edge custom-edge"></span>
                                    <span class="front custom-front">START!</span>
                                </a>
                            </div>
                          </div>
                    </div>
                    {% for group in groups %}
                    <div class="col-4" style="margin-bottom:50px;">
                        <div class="group-card">
                            <div class="content normal-content">
                                <p class="group-title">{{group.group_name}}</p>
                                <div class="group-location">{{group.group_location}}</div>
                                <div class="group-comment">
                                    {{group.group_comment}}
                                </div>
                                <a type="button" class="pushable" href="{% url "website:eatery_select" %}?group_id={{group.id}}">
                                    <span class="shadow"></span>
                                    <span class="edge normal-edge"></span>
                                    <span class="front normal-front">START!</span>
                                </a>
                            </div>
                          </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- End Recent Blog Posts Section -->
    </div>
</section>
{% endblock content %}
{% block script %}
<script src="{% static 'eatery/js/group_manage.js' %}"></script>
<script src="{% static 'js/script_pagination' %}"></script>
{% endblock script %}