{% load static %}
<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Enjo_eat<span>.</span></h1>
      </a>
      {% if request.user.is_authenticated %}
      <div style="float: right;margin-right:50px;" class="">
        {{request.user.username}} 님 환영합니다 😀&nbsp;&nbsp;&nbsp;
        <a href="{% url "website:mypage" %}" class="p-2">마이페이지</a>
        <a href="{% url 'website:logout' %}" class="p-2">로그아웃</a>
      </div>
      {% else %}
      <div style="float: right;margin-right:50px;" class="">
        <a href="{% url 'website:login' %}">로그인</a>
      </div>
      {% endif %} 
    </div>
  </header><!-- End Header -->