{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link href="{% static "user/css/home.css" %}" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <img src="{% static 'assets/img/food/home.png' %}" class="img-fluid animated" style="width:200px;">
      <h2>Welcome to <span>Enjo_eat</span></h2>
      <p>메뉴를 선택하기 쉬워져요</p>
      <div class="d-flex">
        <a href="{% url 'website:group_select' %}" class="btn-get-started scrollto" style="margin-right:10px;">음식점 고르기</a>
        </div>
      </div>
    </section>
    <hr>
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        
        <div class="section-header">
          <p class="mb-2">로그인 후</p>
          <p class="mb-2">음식점을 추가해서 더 다양한 폭으로 골라보세요</p>
          <p class="mb-2">&</p>
          <p class="mb-2">다녀온 음식점을 평가해 보세요</p>
          <p>↓</p>
          <a href="{% url 'website:group_manage' %}" class="btn btn-outline-dark mt-4">등록된 음식점 보러가기</a>
        </div>
        
        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">
          
          <div class="col-lg-15">
            <div class="container" data-aos="fade-up">
      
              <div class="testimonials-slider swiper" id="swiper">
                <div class="swiper-wrapper">
                  {% for e in eatery %}
                    <div class="swiper-slide">
                      <div class="testimonial-item row">
                        <div class="col-4">
                          {% if e.image %}
                          <img src="/media/{{e.image}}" class="eatery-image" alt="">
                          {% elif e.crawling_image %}
                          <img src="/static/{{e.crawling_image}}" class="eatery-image" alt="">
                          {% else %}
                          <img src="/static/{{e.eatery_type__image_url}}" class="eatery-image">
                          {% endif %}
                        </div>
                        <div id="comment" class="col-8" style="color:gray;">
                          <h3 class="mb-3" style="color:black;">{{e.eatery_name}}</h3>
                          <p>{{e.user__userid}}</p>
                          <p>
                            <i class="bi bi-quote quote-icon-left" style="color:gray;"></i>
                            {{e.comment}}
                            <i class="bi bi-quote quote-icon-right" style="color:gray"></i>
                          </p>
                          <div class="mt-4">
                            <a href="{% url 'website:eatery_detail' e.id %}" type="button" class="btn btn-outline-dark">자세히 보기</a>
                          </div>
                        </div>
                      </div>
                    </div>  
                  {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
{% block script %}

{% endblock script %}